{{ $avatarAlt := .Site.Params.author | default .Site.Title }}
{{ if and (isset .Site.Params "avatarurl") (not (isset .Site.Params "gravatar")) }}
  {{ with .Site.Params.avatarURL }}
    {{ $avatarSrc := . | relURL }}
    {{ $avatarWebP := replaceRE `(?i)\.(png|jpe?g)$` ".webp" $avatarSrc }}
    <div class="avatar">
      <picture>
        <source srcset="{{ $avatarWebP }}" type="image/webp">
        <img src="{{ $avatarSrc }}" alt="{{ $avatarAlt }}" width="1164" height="1330" loading="eager" decoding="async" fetchpriority="high">
      </picture>
    </div>
  {{ end }}
{{ end }}
{{ with .Site.Params.gravatar }}
  <div class="avatar"><img src="https://www.gravatar.com/avatar/{{ md5 . }}?s=240&d=mp" alt="{{ $avatarAlt }}" width="240" height="240" loading="eager" decoding="async"></div>
{{ end }}
